.gg {
  
   display: block;
    
    background: #3333aa;
   
    text-align: center;

    padding: 80px 400px;
   
}


.gg .ggwp{
    
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: white;
    font-family: 'very hard', sans-serif;
    font-style:italic;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 10em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
    
}

.nav2 a:hover {
    border-radius: 30px 5px;
        background-color: #0b3960;
       
    
    }
.gg .ggwp span {
    animation: neon-4 linear infinite 2s;
}
@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}


.nav2
{
width: 685px;
 height: 80px;
 float: left;
 
 
 
}
.nav2 ul li {
    list-style: none;
    float: left;
    
    
   }
   .nav2 ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family: "Exo2-Medium", sans-serif;
    font-style:italic;
    color: white;
   font-size: 17px;
    padding-top: 25px;
    cursor: pointer;
    

  
   }
   

 
.nav2 a
{
   
    font-size: 25px;
    font-weight: bold;
    display:inline-block;
    padding: 10px;
    color:black;
}
    
   


.h1
{
    padding: 10px, 20px;
}
.lbl2
{
    background-color: green;
}
.lbl3
{
    background-color:green;
}
.lbl5
{
    background-color:green;
}
.lbl4
{
    background-color:#3333aa;
}
.lbl6
{
    background-color:#3333aa;
}
#content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
      }
      #footer {
  /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #8B008B; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
 }
 .lll1
 {
     font-weight: bold;
     font-size:50px;
    font-style:italic;
 }


.logo {
    width: 200px;
    float: left;
    height: 80px;
    font-style:italic;
   }
   .logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color: #b2aeb2;
    text-decoration: none;
    cursor: pointer;
   }
  
   
   body{ 
    
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:50%; 
    min-height:50%; 
  }
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }
    th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 20px;
    background: #F8E391;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }
    @media (orientation: landscape) { 
        #background-image { background:  no-repeat; }
      }

.qq
{
    display: block;
    
  
   
    text-align: center;
}
.banner-container p
{
    text-align: center;
}

      .banner-container {
        overflow: hidden;
        position: relative;
    }
    .banner-container li {
        float: left;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 9;
    }
    .banner-container li a {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .banner-container li a img {
        max-width: none;
        height: 200px; /* Высота фотографий */
    }
    .banner-container li span.overlay {
        
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
       
      
